<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lalezar|Quantico&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>PPW PROJECT</title>
</head>
<body>
    <div class="point"></div>
    <div class="wrapper">
        <header class="d-flex flex-column justify-content-center">
            <div class="small-text">Gani</div>
            <h1 id="hello"></h1>
            <h1>CHECK OUT MY WEB DESIGN AND PROGRAMMING PROJECTS!</h1>
        </header>
        <section class="stories" id="stories">
            <div class="d-flex flex-wrap ">
                <a href="./story1/" target="_blank">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <h3>MY BIO</h3>
                        <h4>BIODATA OF MYSELF</h4>
                    </div>    
                </a>
                <a href="https://www.figma.com/file/4ZkIPuwknhaBdOLJhp9m2V/Story-2-Fix?node-id=70%3A2" target="_blank">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <h3>FIGMA DESIGN</h3>
                        <h4>PROTOTYPING USING FIGMA</h4>
                    </div>    
                </a>
                <a href="./story4/" target="_blank">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <h3>MY BIO 2</h3>
                        <h4>MY MORE COMPLETE BIO</h4>
                    </div>    
                </a>
                <a href="http://oh.cs.ui.ac.id/" target="_blank">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <h3>OH WEBSITE</h3>
                        <h4>BUILDING OPEN HOUSE FASILKOM UI 2020 WEBSITE USING DJANGO</h4>
                    </div>    
                </a>
                <a href="http://perak.cs.ui.ac.id/" target="_blank">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <h3>PERAK WEBSITE</h3>
                        <h4>BUILDING PESTA RAKYAT KOMPUTER 2020 WEBSITE USING REACT</h4>
                    </div>    
                </a>
                <a href="http://supertentor.com/" target="_blank">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <h3>SUPER TENTOR</h3>
                        <h4>BUILDING SUPERTENTOR.COM (TRYOUT WEB APPLICATION) USING LARAVEL</h4>
                    </div>    
                </a>
            </div>
        </section>  
    </div>
    <script src="{% static 'home/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@6.1.1/dist/typeit.min.js"></script>
    <script>
        new TypeIt("#hello", {
            strings: "Hello,",
            speed: 200,
            deleteSpeed: 100,
            loop: true
          }).go();
    </script>
</body>
</html>