<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story4/style.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Story 4</title>
</head>
<body>
    <header>
      {% block navbar %}{% endblock  %}
        <div class="header-in d-flex flex-sm-column flex-column flex-lg-row align-items-center justify-content-lg-start justify-content-sm-center justify-content-center">
          <img class="profile-img rounded-circle" src="{% static 'story4/images/profile.png' %}" alt="">
          <div class="title-box d-flex align-items-center">
            <h1 class="title">{% block title %}{% endblock  %}</h1>
          </div>
        </div>
    </header>
    {% block section %}
    {% endblock  %}
    <footer class="d-flex flex-md-row justify-content-between align-items-center" id="contact">
      <h3>CONTACT<br>ME</h3>
      <div class="footer-icon-group d-flex justify-content-between align-items-center">
        <a href="https://gitlab.com/ganiirsyadi"><img src="{% static 'story4/images/gitlab.svg' %}" alt=""></a>
        <a href="https://www.linkedin.com/in/gani-ilham-irsyadi-a81418184/"><img src="{% static 'story4/images/linkedin.svg' %}" alt="" srcset=""></a>
        <a href="https://instagram.com/ganiirsyadi"><img src="{% static 'story4/images/instagram.svg' %}" alt=""></a>
        <a href="mailto:ganiilhamrsyadi@gmail.com"><img src="{% static 'story4/images/email.svg' %}" alt="" srcset=""></a>
      </div>
    </footer>
    {% block other %}
    {% endblock %}    
    <script src="{% static 'story4/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>