{% extends 'story4/base.html' %}
{% load static %}
{% block navbar %}
{% include 'story4/navbar.html' %}
{% endblock  %}
{% block title %}WELCOME{% endblock %}
{% block section %}
  <section class="about d-flex flex-column justify-content-around" id="about">
    <div class="about-text" data-aos="fade-right">
      <h4 class="about-text-left">Hi, I’m Gani Ilham Irsyadi - a student in the Faculty of Computer Science at University of Indonesia.</h4>
    </div>
    <div class="about-text" data-aos="fade-left">
      <h4 class="about-text-right">I create hand-coded websites and web applications for my clients. <span>Interested?</span></h4>
    </div>
  </section>
  <section class="project d-flex flex-column flex-md-row" id="project">
  <img src="{% static 'story4/images/project.svg' %}" id="project-svg" alt="" srcset="" data-aos="fade-down">
  <div class="project-in d-flex flex-column align-items-center">
    <!-- Button trigger modal -->
    <a data-toggle="modal" data-target="#project01"><img class="project-img" src="{% static 'story4/images/project01.png' %}" alt=""></a>
    <!-- Button trigger modal -->
    <h3>Landing Page of Business and Partnership Bureau BEM of Computer Science UI</h3> 
    <h3><a class="project-link" href="https://ganiirsyadi.github.io/SBF-Bismit/">Visit</a></h3>
  </div>
  <div class="project-in d-flex flex-column align-items-center">
    <!-- Button trigger modal -->
    <a data-toggle="modal" data-target="#project02"><img class="project-img" src="{% static 'story4/images/project02.png' %}" alt=""></a>
    <!-- Button trigger modal -->
    <h3>One of The Contributor of Pesta Rakyat Komputer’s Landing Page</h3>
    <h3><a class="project-link" href="https://perak.cs.ui.ac.id/">Visit</a></h3>
  </div>
  </section>
  <section class="experience" id="experience">
  <img src="{% static 'story4/images/vector.svg' %}" id="vector" alt="" srcset="">
  <div class="experience-in">
    <h2 data-aos="fade-right">MY <b>EXPERIENCE</b></h2>
    <div class="experience-content d-flex justify-content-center" data-aos="fade-right">
      <img src="{% static 'story4/images/perak.png' %}" alt="">
      <div class="experience-text">
        <h3>Web Developer Staff at Pesta Rakyat Komputer</h3>
        <p>2019 - Present</p>
      </div>
    </div>
  </div>
  </section>
{% endblock  %}
{% block other %}
    <!-- Modal project01-->
    <div class="modal fade" id="project01" tabindex="-1" role="dialog" aria-labelledby="project01Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="project01Label">OVERVIEW</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- CAROUSEL -->
            <div id="carousel01" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'story4/images/project01_1.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'story4/images/project01_2.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'story4/images/project01_3.png' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel01" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel01" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- END CAROUSEL -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END MODAL -->     

    <!-- Modal project02-->
    <div class="modal fade" id="project02" tabindex="-1" role="dialog" aria-labelledby="project02Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="project02Label">OVERVIEW</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- CAROUSEL -->
            <div id="carousel02" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'story4/images/project02_1.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'story4/images/project02_2.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'story4/images/project02_3.png' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel02" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel02" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- END CAROUSEL -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END MODAL -->     
{% endblock %}