{% extends 'story4/base.html' %}
{% load static %}
{% block navbar %}
{% include 'story4/navbar.html' %}
{% endblock  %}
{% block title %}GANI ILHAM IRSYADI{% endblock %}
{% block section %}
<section class="project d-flex flex-row" id="project">
  <img class="d-none" src="{% static 'story4/images/project.svg' %}" id="project-svg' %}" alt="" srcset="">
  <div class="project-in d-flex flex-column align-items-center more order-2">
    <h4 data-aos="fade-left">GANI ILHAM IRSYADI</h4>
    <h4 data-aos="fade-left">1906350616</h4 data-aos="fade-left">
    <h4 data-aos="fade-left">2019</h4 data-aos="fade-left">
    <h4 data-aos="fade-left">ILMU KOMPUTER</h4 data-aos="fade-left">
    <h4 data-aos="fade-left">UNIVERSITAS INDONESIA</h4 data-aos="fade-left">
  </div>
  <div class="project-in d-flex flex-column align-items-center text-right more order-1">
    <h4 data-aos="fade-right">NAMA</h4>
    <h4 data-aos="fade-right">NPM</h4>
    <h4 data-aos="fade-right">ANGKATAN</h4>
    <h4 data-aos="fade-right">JURUSAN</h4>
    <h4 data-aos="fade-right">PERGURUAN TINGGI</h4>
</div>
</section>
<section class="project d-flex flex-row" id="project">
    <img class="d-none" src="{% static 'story4/images/project.svg' %}" id="project-svg" alt="" srcset="">
    <div class="project-in d-flex flex-column align-items-center text-right align-self-stretch more">
      <h4 data-aos="fade-right">HOBI</h4>
    </div>
    <div class="project-in d-flex flex-column align-items-center more">
      <h4 data-aos="fade-left">BELAJAR HAL BARU</h4>
      <h4 data-aos="fade-left">CODING</h4>
      <h4 data-aos="fade-left">MENONTON FILM</h4>
      <h4 data-aos="fade-left">TRAVELING</h4>
      <h4 data-aos="fade-left">KULINER</h4>
  </div>
  </section>  
<section class="experience exp-1" id="experience">
  <img src="{% static 'story4/images/vector.svg' %}" id="vector" alt="" srcset="">
  <div class="experience-in">
    <h2 data-aos="fade-right">RIWAYAT <b>SEKOLAH</b></h2>
    <div class="experience-content d-flex justify-content-center" data-aos="fade-right">
      <div class="experience-text">
        <h3>SDN 1 PANGGANG</h3>
      </div>
      <div class="experience-text">
        <h3>SMPN 1 JEPARA</h3>
      </div>
      <div class="experience-text">
        <h3>SMAN 1 JEPARA</h3>
      </div>
      <div class="experience-text">
        <h3>UNIVERSITAS INDONESIA</h3>
      </div>
    </div>
  </div>
</section>
<section class="experience" id="experience">
    <div class="experience-in">
      <h2 data-aos="fade-right">EXPERIENCED <b>SKILLS</b></h2>
      <div class="d-flex flex-wrap" data-aos="fade-right">
          <div class="experience-content d-flex justify-content-center col-6">
            <img src="{% static 'story4/images/skills/html.svg' %}" alt="">
            <div class="experience-text">
              <h3>HTML</h3>
              <p>2018 - Present</p>
            </div>
          </div>
          <div class="experience-content d-flex justify-content-center col-6">
            <img src="{% static 'story4/images/skills/css.svg' %}" alt="">
            <div class="experience-text">
              <h3>CSS</h3>
              <p>2018 - Present</p>
            </div>
          </div>
          <div class="experience-content d-flex justify-content-center col-6">
            <img src="{% static 'story4/images/skills/js.svg' %}" alt="">
            <div class="experience-text">
              <h3>JAVASCRIPT</h3>
              <p>2018 - Present</p>
            </div>
          </div>
          <div class="experience-content d-flex justify-content-center col-6">
            <img src="{% static 'story4/images/skills/bootstrap.svg' %}" alt="">
            <div class="experience-text">
              <h3>BOOTSTRAP</h3>
              <p>2018 - Present</p>
            </div>
          </div>
          <div class="experience-content d-flex justify-content-center col-6">
            <img src="{% static 'story4/images/skills/python.svg' %}" alt="">
            <div class="experience-text">
              <h3>PYTHON</h3>
              <p>2018 - Present</p>
            </div>
          </div>
      </div>
  </section>
  <section class="experience" id="experience">
    <div class="experience-in">
      <h2 data-aos="fade-right">CURRENTLY <b>LEARNING</b></h2>
      <div class="d-flex flex-wrap" data-aos="fade-right">
          <div class="experience-content d-flex justify-content-center col-6">
            <img src="{% static 'story4/images/skills/react.svg' %}" alt="">
            <div class="experience-text">
              <h3>REACT</h3>
            </div>
          </div>
          <div class="experience-content d-flex justify-content-center col-6">
            <img src="{% static 'story4/images/skills/django.svg' %}" alt="">
            <div class="experience-text">
              <h3>DJANGO</h3>
            </div>
          </div>
          <div class="experience-content d-flex justify-content-center col-6">
            <img src="{% static 'story4/images/skills/java.svg' %}" alt="">
            <div class="experience-text">
              <h3>JAVA</h3>
            </div>
          </div>
      </div>
  </section>
{% endblock  %}
