{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg fixed-top px-5 pt-3">
    <a class="navbar-brand" href="#">
      <img class="logo" src="{% static 'story4/images/logo.svg' %}" width="40" height="40" alt="">
      <img class="logo-dark" width="40" height="40" src="{% static 'story4/images/logo-dark.svg' %}" alt="">
    </a>  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto d-flex align-items-end">
            <a class="nav-item nav-link" href="{% url 'timeBlank' %}">CLOCK</a>
            <a class="nav-item nav-link" href="{% url 'index' %}#about">ABOUT</a>
            <a class="nav-item nav-link" href="{% url 'index' %}#project">PROJECT</a>
            <a class="nav-item nav-link" href="{% url 'index' %}#experience">EXPERIENCE</a>
            <a class="nav-item nav-link" href="{% url 'index' %}#contact">CONTACT</a>
            <a class="nav-item nav-link nav-bonus" href="{% url 'more' %}">MORE</a>
        </div>
    </div>            
  </nav>
