* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(16px + (24 - 16)*(100vw - 400px)/(800 - 400) );
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #444444;
    background-image: url("/static/story1/images/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    margin: .5rem auto;
    max-width: 30rem;
}

h2 {
    width: fit-content;
    margin-left: 0.1rem;
    font-weight: 900;
    font-size: 1em;
    color: #3e4679;
    text-shadow: 0 0 0.3rem rgb(214, 214, 214);
    }
.container-in {
    margin-top: 0.3em;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 10fr 2fr;
    column-gap: .5em;
    row-gap: .5em;
}

.card {
    background-color: rgba(255,255,255,0.9);
    padding: .5em 0;
    box-shadow: 0 0 0.3rem rgb(214, 214, 214);
}

.card-a {
    grid-row: 1;
    grid-column: 1;
}

.card-icons {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5em .3em;
}

.card-icons a {
    display: flex;
    justify-content: center;
}

.card-icons img {
    width: 1em;
    transition: ease-out .1s;
}

.card-icons a:hover {
    transform: translateY(-0.1em);
}

.card-b {
    grid-column: 2;
    grid-row: 1/3;
}


.sub-title {
    font-size: .6rem;
    margin: 0 0.7rem .3rem 0.7rem;
    font-weight: 900;
}

.line {
    height: .05rem;
    background-color: #ededed;
}

.card-a .line {
    opacity: 0;
}

.profile {
    width: 100%;
}

.details {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: .2rem;
    column-gap: .6rem;
    margin: .6rem .7rem .2rem .7rem;
    font-size: .4rem;
    color: #555555;
}

.key {
    grid-column: 1;
}
.value {
    grid-column: 2;
}

.left, .right {
    display: grid;
    column-gap: 1em;
    row-gap: .2rem;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 2;
}

.story {
    margin-top: 1.6rem;
}

.story p {
    font-size: 0.4em;
    margin: .6rem .7rem;
    color: #555555;
}


/* IPAD */
@media only screen and (max-width: 800px) {
    html {
        font-size: 7.5vw;
    }
    .container {
        width: 75vw;
    }
    .container-in {
        grid-template-columns: 1fr;
    }
    .card-a {
        grid-row: 1;
    }
    .card-icons {
        grid-row: 2;
    }
    .card-icons a:hover {
        transform: none;
    }    
    .card-b {
        grid-column: 1;
        grid-row: 3;
    }
    .details-b {
        grid-template-columns: 1fr;
    }
    .left {
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: 5rem auto;
    }
    .right {
        grid-column: 1;
        grid-row: 2;
        grid-template-columns: 5rem auto;
    }

}

/* PHONE */
@media only screen and (max-width: 430px) {
    html {
        font-size: 2rem;
    }
    .container {
        width: 90vw;
    }
}