<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'story1/images/icon/icon.png' %}" type="image/x-icon">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">    
    <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'story1/style.css' %}">
    <title>Gani's Profile Page</title>
</head>
<body>
    <div class="container">
        <h2>RESUME</h2>
        <div class="container-in">
            <div class="card card-a">
                <h3 class="sub-title">MY DETAILS</h3>
                <div class="line"></div>
                <img class="profile" src="{% static 'story1/images/profile.png' %}" alt="" srcset="">
                <div class="details details-a">
                    <div class="key"><b>NAMA</b></div>
                    <div class="value">Gani Ilham Irsyadi</div>
                    <div class="key"><b>NPM</b></div>
                    <div class="value">1906350616</div>
                    <div class="key"><b>JURUSAN</b></div>
                    <div class="value">Ilmu Komputer</div>
                    <div class="key"><b>UNIVERSITAS</b></div>
                    <div class="value">Universitas Indonesia</div>
                </div>
            </div>
            <div class="card card-icons">
                <a href="mailto:ganiilhamirsyadi@gmail.com"><img src="{% static 'story1/images/icon/gmail.svg' %}" alt="" srcset=""></a>
                <span class="icon-line">|</span>
                <a href="https://www.instagram.com/ganiirsyadi/"><img src="{% static 'story1/images/icon/instagram.svg' %}" alt="" srcset=""></a>
                <span class="icon-line">|</span>
                <a href="https://id.linkedin.com/in/gani-ilham-irsyadi-a81418184"><img src="{% static 'story1/images/icon/linkedin.svg' %}" alt="" srcset=""></a>
                <span class="icon-line">|</span>
                <a href="https://twitter.com/ganiirsyadi"><img src="{% static 'story1/images/icon/twitter.svg' %}" alt="" srcset=""></a>
            </div>
            <div class="card card-b">
                <h3 class="sub-title">ABOUT ME</h3>
                <div class="line"></div>
                <div class="details details-b">
                    <div class="left">
                        <div class="key"><b>NAMA</b></div>
                        <div class="value">Gani Ilham Irsyadi</div>
                        <div class="key"><b>NPM</b></div>
                        <div class="value">1906350616</div>
                        <div class="key"><b>ANGKATAN</b></div>
                        <div class="value">2019</div>
                        <div class="key"><b>JURUSAN</b></div>
                        <div class="value">Ilmu Komputer</div>
                        <div class="key"><b>PERGURUAN TINGGI</b></div>
                        <div class="value">Universitas Indonesia</div>
                    </div>
                    <div class="right">
                        <div class="key"><b>HOBI</b></div>
                        <div class="value">Tidur, Makan</div>
                        <div class="key"><b>RIWAYAT PENDIDIKAN:</b></div>
                        <div class="value">1. SDN 1 Panggang</div>
                        <div class="value">2. SMPN 1 Jepara</div>
                        <div class="value">3. SMAN 1 Jepara</div>
                        <div class="value"></div>
                    </div>
                </div>
                <div class="story">
                    <h3 class="sub-title">
                        DESCRIPTION
                    </h3>
                    <div class="line"></div>
                    <p>Halo, aku mahasiswa Fakultas Ilmu Komputer(Fasilkom) Universitas Indonesia angkatan 2019. Aku memiliki minat yang besar terhadap dunia teknologi. Menurutku teknologi merupakan hasil karya manusia yang paling hebat karena dengan teknologi banyak pekerjaan yang sebelumnya tidak mungkin menjadi mungkin. Salah satu teknologi yang aku minati adalah web.</p>
                    <p>Aku sedang mengambil mata kuliah Perancangan dan Pemrograman Web(PPW) dan halaman ini merupakan tugas pertamaku sejak mengikuti mata kuliah PPW. Dalam mata kuliah ini, aku berharap dapat semakin memperluas pengetahuanku di bidang <i>Web Developing</i>.</p>
                    <p>Oleh karena itu, aku berharap semoga aku bisa lancar mengikuti kuliah ini dan juga mendapatkan manfaat yang banyak.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>