* {
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
    font-size: 1.5vw;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    background-color: #000;
    padding-bottom: 3em;
    transition: ease-in-out .7s;
}

/* HEADER */

header {
    height: 100vh; /* for unsupported calc() on some browser */
    height: calc(var(--vh, 1vh) * 100);
    padding: 0 3rem;
    transition: ease-in-out .7s;
}

.small-text {
    position: absolute;
    top:2%;  
    right: 2%;
    font-family: 'Lalezar', cursive;
    font-size: 2em;
}

header h1 {
    font-family: 'Lalezar', cursive;
    width: 80vw;
    font-size: 2.5em;
    transition: ease-in-out .7s;
}

#hello{
    font-size: 6em;
}

.arrow {
    position: absolute;
    bottom: 25%;
    height: 24px;
    width: 24px;
}

/* END HEADER */

/* STORIES */

.stories {
    margin-top: -3em;
    padding: 0 3rem;
}

.box {
    position: relative;
    margin: .5em;
    text-align: center;
    color: white;
    height: 18em;
    width: 18em;
    transition: background-color ease-in-out .4s;
}

.box h3 {
    position: absolute;
    opacity: 1;
    transition: opacity ease-in-out .4s; 
    font-size: 2em;
}

.box h4 {
    position: absolute;
    width: 10em;
    opacity: 0;
    transition: ease-in-out .4s; 

}

.something {
    background-color: #F1935C;
}

/* RESPONSIVE */

/* IPAD */
@media only screen and (max-width: 780px) {
    html {
        font-size: 2vw;
    }
    .box {
        width: 20em;
        height: 20em;
        margin: .6em;
    }
}

@media only screen and (max-width: 430px) {
    html {
        font-size: 3vw;
    }

    header {
        padding-top: 20em;
    }
    header h1 {
        font-size: 2em;
        width: 70vw;
    }
    .box {
        width: 27em;
        height: 27em;
        margin: .6em 0;
    }

    .box h4 {
        font-size: 2em;
    }

}

